<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Register</title>
</head>

<body>
    <h1>Register page</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="col">
            <div class="row">
                {{ form.username(class="form-control") }}
            </div>
        </div><br>
        <div class="col">
            <div class="row">
                {{ form.password(class="form-control") }}
            </div>
        </div> <br>
        <div id="register"> {{ form.submit(class="btn btn-primary") }}</div>
    </form><br>

    <a href="{{ url_for('index') }}">Already have an account? Go to Login page</a>
</body>

</html>